body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.table-menu {
    background-color: gray;
}
.start, .table-menu, .information {
    margin: 0 auto;
    width: 1200px;
}
.start {
    background: url("../img/banner.png");
}
.table-menu td, .start td, a {
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
}
td.logo {
    text-align: left;
}
/* Контакты, О нас, Волонтеры */
.h150 {
    height: 150px;
}
.contact_inform {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}
.contact_inform h3 {
    color: #6DC72A;
}
.contact_inform td {
    width: 33.33%;
}
.contact_inform p {
    font-size: 14px;
    color: #999;
    margin-top: 0;
}
.google_maps {
    width: 900px;
    margin: 0 auto;
}
/* Форма */
.form {
    margin: 0 auto;
    text-align: center;
}
.form input, .form select {
    margin: 10px 20px;
    border: 1px solid #999;
    width: 150px;
    height: 20px;
}
select {
    height: 24px !important;
}
input[type="submit"] {
    background: white;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}
input[type="submit"]:hover {
    background: #999;
    color: white;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Content */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}
.content-wrapper h3 {
    color: #6DC72A;
}
.content-wrapper p {
    color: #999;
    padding: 0 20px;
}
.content-wrapper div {
    width: 50%;
    text-align: center;
}
/* footer */
footer {
    display: flex;
    justify-content: center;
    color: white;
}
.footer-wrapper {
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    padding: 20px 0;
}
.social-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.social-links p, .copyright p {
    text-align: center;
}
.social-links p {
    margin: 0;
}
.social-links a {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .content-wrapper {
        width: 100%;
    }
    .content-wrapper div {
        width: 100%;
        padding: 0 20px;
    }
}