body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* MainPage */
/* Header start */
header {
    width: 1200px;
    background-color: #666;
    display: flex;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}
.nav-wrap {
    width: 85%;
}
nav ul a {
    color: white;
    text-decoration: none;
}
/* header end */

/* Baner start */
.banner {
    background: url(../img/banner.png);
    width: 1200px;
}
.banner-other-pages {
    background: url(../img/banner.png);
    width: 1200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 10px 0;
}
/* Banner end */

/* News start */
section.news {
    width: 1200px;
}
.news-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news {
    text-align: center;
}
.news h3, .news h5 {
    color: #6DC72A;
}
.news h5 {
    margin: 0;
}
.date, .news p, .news-text h3 {
    color: #999;
}
.news-block-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news-text {
    width: 50%;
    text-align: left;
}
/* News end */

/*  */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding: 60px 0;
}
.content-wrapper h3 {
    color: #6DC72A;
}
.content-wrapper p {
    color: #999;
    padding: 0 20px;
}
.content-wrapper div {
    width: 50%;
    text-align: center;
}
/* footer */
footer {
    display: flex;
    justify-content: center;
    color: white;
}
.footer-wrapper {
    background-color: #666;
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 20px 0;
    font-size: 14px;
    justify-content: space-around;
}
.social-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.social-links a {
    color: white;
}
.social-links p, .copyright p {
    text-align: center;
}
.social-links p {
    margin: 0;
}
.social-links a {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .content-wrapper {
        width: 100%;
    }
    .content-wrapper div {
        width: 100%;
        padding: 0 20px;
    }
}

/* Форма */
.form {
    margin: 20px auto;
    text-align: center;
}
.form input, .form select {
    margin: 10px 20px;
    border: 1px solid #999;
    width: 150px;
    height: 20px;
}
select {
    height: 24px !important;
}
input[type="submit"] {
    background: white;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}
input[type="submit"]:hover {
    background: #999;
    color: white;
}
/* contacts start */
.contact-inform-wrapper, .about-volounteer-text {
    width: 1200px;
    padding: 60px 0;
}
.contact-inform {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.contact-inform-name {
    display: flex;
    justify-content: space-around;
}
.contact-inform-data {
    display: flex;
    justify-content: space-around;
}
.contact-inform-name h3, .contact-inform-data p {
    width: 250px;
    text-align: center;
}
.contact-inform-name h3, .how-to-stay-volounteer h3, .video-text h3, .volounteer-info-person h3 {
    color: #6DC72A;
}
.contact-inform-data p, .how-to-stay-volounteer p, .about-volounteer-text p, .video-text p, .volounteer-info-person p {
    color: #999;
}
.how-to-stay-volounteer, .about-volounteer-text {
    text-align: center;
}
/* contacts end */
/* about start */
.about-volounteer-text p {
    padding: 0 50px;
}
.video-wrapper {
    width: 1200px;
    padding: 60px 0;
    padding-top: 0px;
}
.video {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}
.video-iframe, .video-text {
    width: 45%;
}
.video-text span {
    color: red;
}
/* about end */
/* volounteers start */
.volounteer-info-wrapper {
    width: 1000px;
}
.volunteer-info {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.volounteer-info-person {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.volounteer-info-person img {
    width: 300px;
}
/* volounteers end */