body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* MainPage */
/* Header start */
header {
    width: 1200px;
    background-color: #666;
    display: flex;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}
.nav-wrap {
    width: 85%;
}
nav ul a {
    color: white;
    text-decoration: none;
}
/* header end */

/* Baner start */
.banner {
    background: url(../img/banner.png);
    width: 1200px;
}
.banner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 10px 0;
}
/* Banner end */

/* News start */
section.news {
    width: 1200px;
}
.news-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news {
    text-align: center;
}
.news h3, .news h5 {
    color: #6DC72A;
}
.news h5 {
    margin: 0;
}
.date, .news p, .news-text h3 {
    color: #999;
}
.news-block-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news-text {
    width: 50%;
    text-align: left;
}
/* News end */

/*  */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}
.content-wrapper h3 {
    color: #6DC72A;
}
.content-wrapper p {
    color: #999;
    padding: 0 20px;
}
.content-wrapper div {
    width: 50%;
    text-align: center;
}
/* footer */
footer {
    display: flex;
    justify-content: center;
    color: white;
}
.footer-wrapper {
    background-color: #666;
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 20px 0;
    font-size: 14px;
    justify-content: space-around;
}
.social-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.social-links a {
    color: white;
}
.social-links p, .copyright p {
    text-align: center;
}
.social-links p {
    margin: 0;
}
.social-links a {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .content-wrapper {
        width: 100%;
    }
    .content-wrapper div {
        width: 100%;
        padding: 0 20px;
    }
}

/* Форма */
.form {
    margin: 0 auto;
    text-align: center;
}
.form input, .form select {
    margin: 10px 20px;
    border: 1px solid #999;
    width: 150px;
    height: 20px;
}
select {
    height: 24px !important;
}
input[type="submit"] {
    background: white;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}
input[type="submit"]:hover {
    background: #999;
    color: white;
}